* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

:root {
    --white: #FFFFFF;
    --yellow: #FFFF7D;
    --dark-blue: #002551;
    --light-blue: #0a4081;
    --red: #e34e4e;
}

body {
    /* background-color: var(--dark-blue); */
    background-image: linear-gradient(45deg, var(--light-blue), var(--dark-blue), var(--light-blue));
}

h1 {
    color: var(--white);
    text-transform: uppercase;
}

h2 {
    color: #FFFF7D;
    text-align: right;
}


body {
    display: flex;
    flex-direction: column;
    justify-content: center;

    margin-inline: auto;

    height: 100vh;
    max-width: 600px;
    padding: 1rem;
}

form {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.field {
    display: flex;
    flex-direction: column;
    gap: .25rem;
    position: relative;
}

.field input {
    height: 3rem;
    border-radius: .35rem;
    padding: .5rem;
}

/*agrupa campos na mesma linha*/
.field-group {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}

.field-group .field {
    flex-basis: 50%;
}





/*rótulos e legendas com texto branco*/
.field label,
.field legend {
    color: var(--white);
}

fieldset {
    border: none;
}
input[type="radio"] {
    height: auto;
}
input[type="radio"]+label {
    text-transform: uppercase;
    font-weight: 700;
}

input[type="radio"]:checked,
input[type="radio"]:checked+label {
    color: var(--yellow);
}

/*estilo do botão de envio (submit)*/
.button {
    background-color: var(--yellow);
    height: 4rem;
    width: 80%;
    border-radius: 2rem;
    align-self: center;
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--dark-blue);

    box-shadow: 0 .5rem .25rem rgba(0, 0, 0, 0.35);

    transition: .25s;
}

.button:hover {
    background-color: var(--white);
    color: var(--light-blue);
    transform: translateY(.5rem);
    box-shadow: none;
}

.button:active {
    filter: brightness(.75);
}

.errorMessage::after {
    content: "Valor inválido";
    position: absolute;
    bottom: -.75rem;
    color: var(--red);
}